<div id="container">

  <table class="post_list">
    <% posts.order('created_at DESC').each_with_index do |post, index| %>
      <tr>
        <td>
          <div title="upvote"><a class="upvote" href="/posts/<%= post.id %>/upvote"></div></a>
        </td>
        <td>
          <div title="upvote"><a class="downvote" href="/posts/<%= post.id %>/downvote"></div></a>
        </td>
        <td>
          <a href="/posts/<%= post.id %>"><%= post.who %> says... <%= post.quote[0..70] %>...</a>
        </td>
      </tr>
    <% end %>

  </table>





</div>

