<div id="container">

<form>
  <h3>sort by
  <select id="sort_by">
    <% ["upvote","downvote","recent","old"].each do |by| %>
      <option value="<%= by %>"><%= by %></option>
    <% end %>
  </select>
  <button action="/" id='sort' type="submit">Sort!</button>
  </h3>
</form>

<div id='posts'>
  <table class="post_list">
    <% posts.each do |post| %>
      <tr>
        <td>
          <div title="upvote"><a class="upvote" href="/posts/<%= post.id %>/upvote"></a></div>
        </td>
        <td>
          <div title="downvote"><a class="downvote" href="/posts/<%= post.id %>/downvote"></a></div>
        </td>
        <td>
          <a href="/posts/<%= post.id %>"><%= post.who %> says... <%= post.quote[0..70] %>...</a>
        </td>
      </tr>

    <% end %>

  </table>

</div>





</div>

